.change-container {
  background-color: #009a65;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.change-card {
  background: white;
  text-align: center;
  color: #009a65;
  width: 420px;
  padding: 30px;
  border-radius: 12px;
}

.change-logo {
  width: 100px;
  margin-bottom: 10px;
}

.title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 25px;
}

input {
  display: block;
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  border: none;
  text-align: left; 
  font-size: 15px;
  color: #ff6b2b;
  border: 1.5px solid #e5e7eb;
}

input::placeholder {
  color: #ff6b2b;
}
button {
  background-color: #ffe0a0;
  color: #ff6b2b;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 500;
  font-family: "sans-serif";
}

button:hover {
  background-color: #ffefb5;
}

.back-link {
  display: block;
  margin-top: 15px;
  color: black;
  text-decoration: none;
  font-size: 15px;
  text-decoration: underline;
}
