@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.forgot-page {
  background-color: #ff6b2b;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
}

.forgot-card {
  background: white;
  text-align: center;
  width: 450px;
  padding: 30px;
  color: #ff6b2b;
  border-radius: 12px;
}

.forgot-logo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 10px;
  margin-bottom: 10px;
}

.forgot-title {
  font-size: 20px;
  color: #3a4a7a;
  font-weight: 600;
  margin-bottom: 25px;
}

.forgot-subtitle {
  font-size: 20px;
  margin-bottom: 25px;
  font-family: "sans-serif";
}

.forgot-input {
  width: 380px;
  height: 45px;
  border-radius: 25px;   
  border: 1.5px solid #e5e7eb;
  outline: none;
  font-size: 14px;
  text-align: left;
  padding: 0 20px;
  margin-bottom: 15px;
  background: #fff;
  color: #ff6b2b;
  box-sizing: border-box;
}

/* กล่อง OTP */
.otp-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 380px;
  height: 45px;
  margin: 0 auto 15px auto;
  border-radius: 25px;           
  border: 1.5px solid #e5e7eb;
  padding: 0 20px;
  background: #fff;
  box-sizing: border-box;        
}

/* ช่องกรอก OTP */
.otp-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
  color: #ff6b2b;
  background: transparent;
  height: 100%;
  padding-right: 8px;
}

/* ปุ่ม Resend */
.resend {
  color: #ff6b2b;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  margin: 0;                     
  padding: 0;                    
  background: transparent;
}

.resend:hover {
  text-decoration: underline;
}


.submit-btn {
  background-color: #ffe0a0;
  color: #e25a00;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 15px;
  transition: background 0.2s ease;
  font-family: "sans-serif";
}

.submit-btn:hover {
  background-color: #ffd580;
}

.back-login {
  color: black;
  font-size: 15px;
  cursor: pointer;
  text-decoration: underline;
}
